.container > header {
	margin: 40px 0;
}
#arena {
}

#arena .poll > header, 
#arena .poll .loading,
#arena .poll > section .tweet {
	padding: 10px;
}


#arena .poll {
	border:1px solid #ccc;
	border-radius:5px;
}

#arena .poll > header {
	border-bottom: 1px solid #ddd;
}

#arena .poll > header  .title {
	font-size:22px;
	line-height: 22px;
}

#arena .poll > header  .title .username {
	font-size:12px;
	display: block;
}


#arena .poll > header button {
	float: right;
	position: relative;
	bottom: 50px;
}

#arena .poll .loading {
	background: #eee;
	padding: 20px 10px;
}
#arena .poll .progress {
	margin: 0;
}

#arena .poll section .tweet {
	margin:0;
	background: #eee;
	border-top:#ddd 1px solid;
	border-bottom:#fff 1px solid;
	-webkit-animation: fadeOut 2s;
	-moz-animation: fadeOut 2s;
	-ms-animation: fadeOut 2s;
	-o-animation: fadeOut 2s;
	animation: fadeOut 2s;
}

#arena .tweets .tweet a {
	color: #000;

	-webkit-transition: color .2s ease-in;
	-moz-transition: color .2s ease-in;
	-o-transition: color .2s ease-in;
	-ms-transition: color .2s ease-in;
	transition: color .2s ease-in;
}

#arena .tweets .tweet:hover a {
	color: #08C;
}














@keyframes "fadeOut" {

 50% {
    background: #bff6fb;
 }

}

@-moz-keyframes fadeOut {
 0% {
   background: #f;
 }
 50% {
   background: #bff6fb;
 }
 100% {
   background: #FFF;
 }

}

@-webkit-keyframes "fadeOut" {
 50% {
    background: #bff6fb;
 }


}
